ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration-line: none;
}

h1, h2, h3, h4, h6, h6, p {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

address {
    font-style: normal;
    margin-left: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff; 
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ---------------header------------------ */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    align-items: center;
}

.header-nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding: 24px 0;
margin-right: 76px;

}

.header-logo-accent {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
}

.header-menu-link:hover, .header-menu-link:focus {
    color: #404bbf;
}
.address-menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
}


.address-menu-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.address-menu-link:hover, .address-menu-link:focus {
    color: #404bbf;
}

.header-link-accent:active {
    color: #404bbf;
}
/* -------------------end header------------ */

/* ---------------------main--------------- */

.hero {
    background: #2e2f42;
    padding: 188px 15px;
    background-image: linear-gradient: 
      (rgba(46, 47, 66, 0.7) 100%, 
      rgba(46, 47, 66, 0.7)) 100%, 
     url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero-wrap {
    
}

.hero-text {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin: 0 auto;
margin-bottom: 48px;
}

.hero-button {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
cursor: pointer;
display: block;
border-radius: 4px;
min-width: 169px;
height: 56px;
margin: 0 auto;
}

.hero-button:hover, .hero-button:focus {
 color: fff;;
 background: #404bbf;
}

.section-priority-name {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

.priority-list {
    display: flex;
    gap: 24px;
}

.priority-item {
    width: calc((100% - 3 * 24px) / 4);
}

.priority-icon {
    width: 100%;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 5%;
    padding: 24px 100px;
    
}

.priority-titel {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.priority-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.workers {
    background-color: #F4F4FD; 
    padding: 120px 0;
}

.workers-titel {
    text-transform: capitalize;
    font-weight: 700;
 font-size: 36px;
 line-height: 1.11;
 letter-spacing: 0.02em;
 text-align: center;
 color: #2e2f42;
 margin-bottom: 72px;
}

.workers-list {
    display: flex;
    gap: 24px;
}

.workers-item {
 background: #fff;
 width: 264px;
 border-radius: 0px 0px 4px 4px;
}

.container-workers {
    padding: 32px 0 
}

.workers-item-name {
    text-transform: capitalize;
    font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: #2e2f42;
 margin-bottom: 8px;
 text-align: center;
}

.workers-item-position {
    font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
 text-align: center;
}

.icon-list {
  display: flex;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
}

.icon-icon {
  fill:#fff;
  stroke: #fff;
}

.our-posibility-section {
    padding-top: 120px; 
    padding-bottom: 120px;
}

.posibility {
    text-transform: capitalize;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.posibility-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.posibility-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.posibility-item {
    background: #fff;
}

.posibility-item:hover .posibility-cover-text {
    transform: translateY(0);
  }
  
  .posibility-cover-wrap {
    position: relative;
    overflow: hidden;
  }

  .posibility-cover-text {
    position: absolute;
    top: 0;
    background-color: #4D5AE5;
    height: 100%;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #f4f4fd;;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0 0;
    transform: translateY(100%);
    transition: transform 300ms linear;
    backdrop-filter: blur(15px);
    background: linear-gradient(
      161deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    );

.posibility-name {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.posibility-type {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding-left: 16px;
}


/* ===============================main============================ */

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}


.footer-logo-accent {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 264px;
}

.soc-media-titel {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}